<h1>Welcome to Rails Blog</h1>

<% if user_signed_in? %>
  <div class="user-info">
    <h2>Logged in as:</h2>
    <p><strong>Name:</strong> <%= current_user.name %></p>
    <p><strong>Email:</strong> <%= current_user.database_authentication.email %></p>
  </div>
  <%= link_to "Logout", destroy_database_authentication_session_path, data: { turbo_method: :delete } %>
<% else %>
  <div class="auth-links">
    <%= link_to "Sign in", new_database_authentication_session_path %>
    <%= link_to "Sign up", new_registration_confirmation_path %>
  </div>
<% end %>
