<div <%= tag.attributes(@html_options) %> >
  <%= form_with(model: @form, url: @confirmation_path, as: @resource_name, html: { method: :post, class: "email-confirmation-form" }) do |f| %>
    <% flash.each do |type, message| %>
      <%= render Ui::FlashComponent.new(flash_type: type.to_sym) do |c| %>
        <%- c.with_flash_content do %>
          <%= message %>
        <% end %>
      <% end %>
    <% end %>

    <div class="field">
      <%= f.label :email, "Email" %><br />
      <%= render Ui::EmailFieldComponent.new(builder: f, method: :email, size: :medium, html_options: { autofocus: true, autocomplete: "email" }) %>
    </div>

    <div class="actions">
      <%= render Ui::ButtonComponent.new(category: :primary, size: :medium, type: :submit, text: "送信") %>
    </div>
    </div>
  <% end %>
</div>