<div <%= tag.attributes(@html_options) %> >
  <% flash.each do |type, message| %>
    <div class="flash flash-<%= type %>">
      <%= message %>
    </div>
  <% end %>
  
  <%= form_for(@resource, as: @resource_name, url: @session_path, html: { class: "database-authentication-form" }) do |f| %>
    <div>
      <%= f.label :email %><br />
      <%= render Ui::EmailFieldComponent.new(builder: f, method: :email, size: :medium, html_options: { autofocus: true, autocomplete: "email" }) %>
    </div>
  
    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <div class="actions">
      <%= render Ui::ButtonComponent.new(category: :primary, size: :medium, type: :submit, text: "ログイン") %>
    </div>
  <% end %>
</div>
