<%= form_with(model: @form, url: users_sns_credential_registrations_path, html: { method: :post, class: "sns-credential-registration-form flex flex-col gap-4" }) do |f| %>
  <% if @form.errors[:token].any? %>
    <%= render Ui::FlashComponent.new(flash_type: :alert) do |c| %>
      <%- c.with_flash_content do %>
        <%= @form.errors.full_messages_for(:token).join(", ") %>
      <% end %>
    <% end %>
  <% end %>

  <% if @form.errors[:base].any? %>
    <%= render Ui::FlashComponent.new(flash_type: :alert) do |c| %>
      <%- c.with_flash_content do %>
        <%= @form.errors.full_messages_for(:base).join(", ") %>
      <% end %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :user_name, "ユーザー名", class: "block" %>

    <%= render Ui::TextFieldComponent.new(
      builder: f,
      method: :user_name,
      size: :medium,
      variant: @form.errors[:user_name].any? ? :alert : :default
    ) %>

    <%= render Ui::FieldErrorsComponent.new(error_messages: @form.errors.full_messages_for(:user_name)) %>
  </div>

  <div class="field">
    <%= f.label :email, class: "block" %>

    <p class="text-gray-600"><%= @form.email %></p>
  </div>

  <%= f.hidden_field :token %>

  <div class="actions">
    <%= render Ui::Button::Component.new(category: :primary, size: :medium, type: :submit, text: "登録") %>
  </div>
<% end %>
