<div class="flex justify-center">
  <%= render Ui::PanelComponent.new(size: :large) do |panel| %>
    <%- panel.with_panel_content do %>
      <article>
        <header class="mb-6">
          <h1><%= @post.title %></h1>
          <p class="text-secondary text-size-note mt-2 flex flex-col sm:flex-row sm:gap-x-4 gap-y-1">
            <span>著者: <%= @post.user.name %></span>
            <span>公開日時: <time datetime="<%= DateFormatPresenter.to_iso8601(@post.first_published_at) %>"><%= DateFormatPresenter.to_long(@post.first_published_at) %></time></span>
            <span>最終更新: <time datetime="<%= DateFormatPresenter.to_iso8601(@post.last_published_at) %>"><%= DateFormatPresenter.to_long(@post.last_published_at) %></time></span>
          </p>
        </header>

        <div class="prose" data-controller="highlight">
          <%= sanitize_tiptap_content(@post.content) %>
        </div>
      </article>

      <div class="mt-8 pt-4 border-t border-default flex items-center justify-between">
        <%= link_to "記事一覧に戻る", posts_path, class: "text-link" %>
        <%= render Domain::Post::LikeButtonComponent.new(post: @post, current_user: current_user) %>
      </div>
    <% end %>
  <% end %>
</div>
